@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --light-grey: #f1f1f1;
    --middle-dark: rgb(85, 85, 85);
    --white-title: rgb(248, 246, 246);
    --red-error: rgb(192, 10, 10);
    --dark: #30333b;
    --purple: purple;
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --grey: grey;
    --pink: pink;
    --blue: blue;
}

/* HEADER AREA */

.header{
    /* background: linear-gradient(360deg, #c1d3d3 10%, #bb4747 360%); */
    background-color: var(--middle-dark);
    height: 12vh;
    font-size: 1.1rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__form {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
}

.btn {
    width: 20vw;
    height: 12vh;
    min-height: 44px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.header__button-h1 {
    font-weight: 600;
    color: var(--white-title);
    text-shadow: 2px 2px 4px #000000;
}

.header__form-div {
    position: relative;
}

.header__form-div-input {
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
	/* background: #fff; */
	border: 3px solid transparent;
	border-radius: 10px;
    padding: 0 10px 0 40px;
    font-size: 1.5rem;
	/* transition: .3s ease all; */
}

.header__form-div-input:focus {
	outline: none;
}

.header__form-div-i {
    position: absolute;
	left: 10px;
	bottom: 10px;
    z-index: 100;
}

/* DIALOG MODAL */

.hidden {
    display: none;
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-top: 5rem;
    background-color: rgb(85, 85, 85, 0.3);
}

.dialog[open]:not(:focus-within) {
    background-color: rgb(85, 85, 84, 0.3);
    transition: background-color 0.01s;
}

.dialog__form {
    background-color: var(--middle-dark);
    margin: 6vh auto 15vh auto;
    width: 80vw;
    max-width: 50rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
}

.dialog__form-div {
    padding: 3vh;
}

.dialog__form-div-div{
    margin: 3vh 0 1vh 0;
}

.dialog__form-div-h2 {
    font-size: 2rem;
    color: var(--white-title);
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
}

.dialog__form-div-label{
    margin-top: 2vh;
    font-size: 1.6rem;
    color: var(--white-title);
}

.dialog__form-div-label b {
    color: var(--white-title);
    font-size: 1.8rem;
}

.dialog__form-div-input {
    width: 100%;
    padding: 1vh;
    font-size: 1.6rem;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
}

.dialog__form-div-input:focus, .dialog__form-div-textarea:focus {
    border: 2px solid var(--grey);
    background: linear-gradient(360deg, #dee1e1 20%, #f4f4f4 360%);
    outline: none;
}

.dialog__form-div-textarea {
    width: 100%;
    padding: 1vh;
    font-size: 1.6rem;
    border: none;
    display: inline-block;
    border-radius: 5px;
}

.border-red {
    border: 2px solid var(--red-error);
}

.invalid-input {
    width: 100%;
    padding: 1vh;
    position: relative;
    top: -1vh;
    font-size: 1.45rem;
    font-weight: 500;
    color: var(--light-grey);
    text-align: center;
    border: none;
    background-color: transparent;
    margin-top: 2vh;
}

.dialog__form-div-div-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 0 1rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.tab {
    display: inline-block;
    margin-left: 10px;
}

.submit {
    background-color: var(--white-title);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--dark);
}
.submit:hover {
    transform: scale(1.04);
}

.cancel {
    float: left;
    width: 45%;
}

.create-task {
    float: right;
    width: 45%;
}

.not-allowed {
    cursor: not-allowed;
}

.clearfix {
    position: relative;
    top: 1vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* MAIN AREA */


.article__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3vh;
}

.task {
    display: flex;
    align-items: center;
    width: 76vw;
    cursor: pointer;
    margin: 1vh 2vh 0 2vh;
    padding: 12px 8px 12px 12px;
    list-style-type: none;
    border: 1px solid var(--middle-dark);
    border-radius: 5px;
    background: #eee;
    font-size: 1.4rem;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.details {
    margin-left: 2vh;
}

.summary:focus {
    outline: none;
}
.summary {
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 10px;
}



.task p {
    font-size: 1.2em;
    padding-top: 5px;
    margin-left: 0.9em;
}

.star {
    margin-left: auto;
    margin-right: 1vh;
}

.important {
    color: orange;
}

.completed {
    text-decoration: line-through;
}

.task-completed {
    background: #888;
}

/* ASIDE AREA */

.aside {
    background-color: var(--dark);
}

.aside__button{
    position: absolute;
    left: -16vw;
    transition: 0.3s;
    padding: .5rem;
    width: 20vw;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    height: 10vh;
    border: 1px solid var(--dark);
    color: var(--white-title);
    font-size: 2.2em;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.aside__button-open {
    left: 0;
}

#tasks_list {
    top: 16vh;
    background-color: #2196F3;
}

#important_list {
    top: 30vh;
    background-color: #c4352b;
}

#completed_list {
    top: 44vh;
    background-color: #4CAF50;
}

#custom_list {
    top: 58vh;
    background-color:#882483;
}


/* FOOTER AREA */

.footer {
    display: flex;
}

.footer__button {
    position: absolute;
    bottom: 4vh;
    right: 5vh;
    width: 8vh;
    height: 8vh;
    background-color: var(--middle-dark);
    border: 1px var(--dark);
    border-radius: 50%;
}

.footer__button i {
    color: var(--white-title);
    text-shadow: 2px 2px 4px #000000;
}